<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <link th:href="@{/css/common/footer.css}" href="../../static/css/common/footer.css" rel="stylesheet"/>
</head>
<div class="footer" th:fragment="footer">
    <div class="footer-container">
        <div class="content-box">
            <div class="title">
                About SNU QUILL
            </div>
            <div class="content">
                <span>Who We Are</span>
                <span>Our Mission</span>
                <span><a th:href="@{/members}">Meet the Staff</a></span>
            </div>
        </div>
        <div class="content-box">
            <div class="title">
                Contact Us
            </div>
            <div class="content">
                <span>Feedback & Complaints</span>
                <span>Advertise with Us</span>
                <span>Letter to the Editor</span>
            </div>
        </div>
        <div class="content-box">
            <div class="content">
                <span>1 Gwanak-ro, Gwanak-gu, Seoul</span>
                <span>Copyright 2023 The SNU QUILL. </span>
                <span>All rights reserved. </span>
                <span>mail to snuquill@gmail.com</span>
            </div>
        </div>
    </div>
    <a class="footer-logo" th:href="@{/home}">
        <div class="logo-block">
            THE SNU QUILL
        </div>
    </a>
</div>
</html>
