<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <link th:href="@{/css/common/common.css}" href="/static/css/common/common.css" rel="stylesheet"/>
    <link th:href="@{/css/common/header.css}" href="/static/css/common/header.css" rel="stylesheet"/>
</head>
<div class="header" th:fragment="header">
    <div class="logo">
        <a th:href="@{/home}">
            <div id="logo-image">
                <img th:src="@{/images/logo.svg}" src="/images/logo.svg"/>
            </div>
        </a>

        <div id="com-name">THE SNU QUILL</div>
        <div id="com-since">since 2005</div>
    </div>
    <div class="search-box">
        <form id="search-form" action="/search" method="get">
            <button type="submit">
                <img id="search-icon" th:src="@{/images/search-icon.svg}" src="/images/search-icon.svg">
            </button>
            <input type="text" id="search-text" name="search-text">
        </form>
    </div>
    <div class="nav">
        <div>
            <a class="nav-element" th:href="@{/article/features/1}" href="/article/features/1">
                FEATURES
            </a>
        </div>
        <div>
            <a class="nav-element" th:href="@{/article/snu_society/1}" href="/article/snu_society/1">
                SNU SOCIETY
            </a>
        </div>
        <div>
            <a class="nav-element" th:href="@{/article/arts_culture/1}" href="/article/arts_culture/1">
                ARTS & CULTURE
            </a></div>
        <div>
            <a class="nav-element" th:href="@{/article/short_articles/1}" href="/article/short_articles/1">
                SHORT ARTICLES
            </a></div>
        <div>
            <a class="nav-element" th:href="@{/archives}" href="/archives">
                ARCHIVES
            </a></div>
        <div>
            <a class="nav-element" th:href="@{/about}" href="/about">
                ABOUT
            </a></div>
    </div>
</div>
</html>
