<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/common/quickNavigation.css" rel="stylesheet" th:href="@{/css/common/quickNavigation.css}"/>
    <link href="/css/common/common.css" rel="stylesheet" th:href="@{/css/common/common.css}"/>
    <title>quickNavigation</title>
</head>
<body th:fragment="quickNavBar(recentArticleList, mostReadArticleList)"> <!-- 퀵 메뉴 바 -->
<hr class="quickNavBar-line">
<nav id="quick-navigation-container">
    <ul class="quick-navigation-list">
        <li class="quick-navigation-title">Recent Articles</li>
        <li th:each="recentArticle: ${recentArticleList}">
            <a th:href="@{/article/{id}(id=${recentArticle.id})}" th:text="${recentArticle.articleTitle}">How to Become A Sports Expert in SNU...</a>
        </li>
    </ul>
    <ul class="quick-navigation-list">
        <li class="quick-navigation-title">Most Read</li>
        <li th:each="mostReadArticle: ${mostReadArticleList}">
            <a th:href="@{/article/{id}(id=${mostReadArticle.id})}" th:text="${mostReadArticle.articleTitle}">How to Become A Sports Expert in SNU...</a>
        </li>
</nav>
</body>
</html>
