<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="true">
    <include resource="logback/console-appender.xml"/>
    <include resource="logback/file-appender.xml"/>
    <springProfile name="local">
        <root level="INFO">
            <appender-ref ref="CONSOLE"/>
        </root>
    </springProfile>
    <springProfile name="prod">
        <root level="INFO">
            <appender-ref ref="FILE-ERROR"/>
            <appender-ref ref="FILE"/>
        </root>
    </springProfile>
</configuration>
