@import "../common/common.css";

.article-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 100px;
    align-items: stretch;
}

.article-body > div {
    display: flex;
    justify-content: center;
}


.main-image > img {
    width: 1080px;
}

.article-category {
    margin-top: 24px;
    color: var(--Main-Color);
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.14px;
}

.headline {
    flex-direction: column;
    color: var(--Text-Color);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    align-items: center;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    min-height: 32px;
}

.headline > p {
    margin: 0;
    padding: 0;
    max-width: 1080px;
    min-height: 32px;
}

.article-content > p {
    margin: 0;
    padding: 0;
    min-height: 18px;
}

.article-content {
    margin: 50px 200px;
    flex-direction: column;
    color: var(--Text-Color);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    letter-spacing: 0.18px;
}

div#color-line {
    display: block;
    width: 41px;
    min-height: 3px;
    background: var(--Main-Color);
}

div.article-footer#article-footer {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 50px 0;
    align-items: center;
}

.image-box > img {
    width: 75px;
    height: 100px;
    flex-shrink: 0;
}

div.author-box {
    flex-direction: column;
    justify-content: left;
    margin-left: 20px;
    align-items: start;
}

.author-box > div.author-role {
    flex-shrink: 0;
    color: var(--Text-Color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}

.author-box > div.author-name {
    flex-shrink: 0;
    color: var(--Text-Color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.2px;
}

.author-box > div.author-email {
    flex-shrink: 0;
    color: var(--Text-Color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.16px;
}
