@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

:root {
    --Main-Color: #FB4E26;
    --Sub-Color: #ffede9;
    --Line-Color: #D9D9D9;
    --Text-Color: #666666;
}

* {
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    width: 1140px;
}

a:link, a:visited, a:hover, a:active, a:focus {
    text-decoration: none; /* 링크의 밑줄 제거 */
    color: inherit; /* 링크의 색상을 상속받음 */
    outline: none; /* 포커스 시의 테두리 제거 */
}

.hover-pointer {
    cursor: pointer;
}

