@import url('https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500&display=swap');

:root {
    --Main-Color: #FB4E26;
    --Sub-Color: #ffede9;
    --Line-Color: #a1a1a1;
    --Text-Color: #666666;
}

* {
    font-family: 'Jost', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;

    width: 100vw;
    margin: 0;
    padding: 0;
}

.page {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 20px 0;

    width: 1140px;
}





