html, body {
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    width: 100vw;
    /*transform: translateX(calc(570px - 50vw));*/
    background: #FB4E26;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;

    margin-top: 34px;
    margin-bottom: 34px;
    justify-content: space-around;
}

.footer-container .title {
    width: 180px;
    flex-shrink: 0;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
}

.footer-container .content {
    width: 180px;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    justify-content: left;
}


.footer-container > .metadata {
    /*width: 320px;*/
    flex-shrink: 0;
    color: white;
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}

.footer-logo {
    display: flex;
    align-items: center; /* 아이템을 세로로 중앙 정렬 */
    justify-content: center; /* 아이템을 가로로 중앙 정렬 */
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
    padding-bottom: 30px;
}

.logo-block {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 274px;
    height: 52px;
    border: 1.5px solid #FFF;
    flex-direction: column;
    color: #FFF;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.8px;
    flex-shrink: 0;
}

.content-box {
    display: flex;
    flex-direction: row;
    flex: 1;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: column;
}

.content-box:nth-of-type(3) > .content {
    width: 360px;
}
