html, body{
    margin: 0;
    padding: 0;
}

.footer {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    align-items: stretch;
    flex-wrap: wrap;
    margin: 0;
    padding: 0 20px 50px;
    width: 100vw;
    /*transform: translateX(calc(570px - 50vw));*/
    background: #FB4E26;
}

.footer div {
    display: flex;
}

.footer-container {
    display: flex;
    width: 100%;

    margin-top: 34px;
    margin-bottom: 34px;
    flex-grow: 0;
    justify-content: space-around;
}

.footer-container > div {
    width: 35%;
    justify-content: center;
    flex-grow: 1;
}

.footer-container .title {
    flex-grow: 3;
    width: 160px;
    flex-shrink: 0;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    justify-content: center;
}

.footer-container .content {
    width: 160px;
    color: white;
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    justify-content: left;
}


.footer-container > .metadata {
    /*width: 320px;*/
    flex-shrink: 0;
    color: white;
    text-align: right;
    font-size: 18px;
    font-weight: 300;
}

.footer-logo {
    display: flex;
    align-items: center; /* 아이템을 세로로 중앙 정렬 */
    justify-content: center; /* 아이템을 가로로 중앙 정렬 */
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.logo-block {
    width: 274px;
    height: 52px;
    border: 1.5px solid #FFF;
    flex-direction: column;
    justify-content: center;
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 2.8px;
    flex-shrink: 0;
}
