<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <link th:href="@{/css/common.css}" href="/static/css/common.css" rel="stylesheet"/>
    <link th:href="@{/css/header.css}" href="/static/css/header.css" rel="stylesheet"/>
    <link th:href="@{/css/article.css}" href="/static/css/article.css" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" href="/static/css/footer.css" rel="stylesheet"/>
    <meta charset="UTF-8">
    <title>Article</title>
</head>

<body>
<header th:replace="~{headerFragment :: header}"></header>
<div class="article-body">
    <div class="main-image">
        <img th:src="${articleDto.pictureUrl}" src="/static/images/sample-image-1080x494.jpg"/>
    </div>
    <div class="article-category" th:text="${articleDto.category().name()}">
        category
    </div>
    <div class="headline">
        <p th:each="titleLine : ${articleDto.title()}" th:text="${titleLine}"></p>
    </div>
    <div class="article-content">
        <p th:each="contentsLine : ${articleDto.contents()}" th:text="${contentsLine}"></p>
        <p></p>
        <p></p>
        <p></p>
        <div id="color-line"></div>
        <div class="article-footer" id="article-footer">
            <div class="image-box">
                <img th:src="${articleDto.author().getPictureUrl()}" src="/static/images/sample-image-100x100.jpg"/>
            </div>
            <div class="author-box">
                <div class="author-role" th:text="${articleDto.author().getRole()}"></div>
                <div class="author-name" th:text="${articleDto.author().getName()}"></div>
                <div class="author-email" th:text="${articleDto.author().getEmail()}"></div>
            </div>
        </div>
    </div>

    <div class="article-navigation">

    </div>
</div>
<footer th:replace="~{footerFragment :: footer}"></footer>
</div>
</body>
</html>
