<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link th:href="@{/css/common/common.css}" href="/css/common/common.css" rel="stylesheet"/>
    <link th:href="@{/css/common/header.css}" href="/css/common/header.css" rel="stylesheet"/>
    <link th:href="@{/css/common/footer.css}" href="/css/common/footer.css" rel="stylesheet"/>
    <link th:href="@{/css/common/quickNavigation.css}" href="/css/common/quickNavigation.css" rel="stylesheet"/>
    <link th:href="@{/css/article/features.css}" href="/css/article/features.css" rel="stylesheet"/>
    <link rel="icon" th:href="@{/images/logo_48_48.png}" href="/images/logo_48_48.png"/>
    <link rel="apple-touch-icon" th:href="@{/images/logo_48_48.png}" href="/images/logo_48_48.png"/>
    <title> SNU QUILL </title>
    <meta charset="UTF-8">
</head>
<header th:replace="~{common/headerFragment :: header}"></header>

<body>
<div class="features-container">
    <div class="features-intro-container">
        <div class="features-intro-title">
            <h3 th:if="${isSearch}">Search Result</h3>
            <h3 th:unless="${isSearch}" th:text="${category.getCategoryName()}">Features</h3>
        </div>
        <div class="features-intro-content">
            <h2 th:unless="${isSearch}"
                th:text="${category.getCategoryDescription()}">
                Category Description
            </h2>
            <div th:replace="~{common/quickNavigationFragment :: quickNavBar(${recentArticleList}, ${mostReadArticleList})}" id="quickNav"></div>
        </div>
    </div>
    <div class="articles-container">
        <div class="articles-list">
            <div class="article hover-pointer"
                 th:each="articleLine : ${articleLinePage}"
                 th:object="${articleLine}"
                 th:onclick="'window.location.href=\'' + @{/article/{id}(id=${articleLine.id})} + '\''">
                <div class="article-thumbnail">
                    <img th:src="${articleLine.articlePictureUrl}">
                </div>
                <div class="article-preview-container">
                    <div class="article-preview-title" th:utext="${articleLine.articleTitle}">
                        To Leave or Not To Leave
                    </div>
                    <div class="article-preview-author" th:text="${articleLine.authorName}">
                        Ji-Woo Lee
                    </div>
                    <div class="article-preview-content" th:utext="${articleLine.articleSummary}">
                        Early morning, on 24 Feb. 2022, I woke up in my dorm room in the main building of Moscow State University to unbelievable news: Russia had invaded Ukraine, and my host-country
                        was now at war. [...]
                    </div>
                </div>
            </div>
            <div class="page-flipper-container">
                <a class='page-element'
                   th:if="${isSearch}"
                   th:each="pageElemet : ${#numbers.sequence(pageMetaData.pageStart - 1 , pageMetaData.pageEnd + 1)}"
                   th:classappend="${pageElemet eq pageMetaData.targetPage ? 'current-element':''} +
                        ${pageElemet eq pageMetaData.pageStart - 1 ? 'prev':''} +
                        ${pageElemet eq pageMetaData.pageEnd + 1 ? 'next':''}"
                   th:styleappend="${pageMetaData.firstPageList and (pageElemet eq (pageMetaData.pageStart - 1)) ? 'display:none;' : ''} +
                        ${pageMetaData.endPageList and (pageElemet eq (pageMetaData.pageEnd + 1)) ? 'display:none;' : ''}"
                   th:text="${pageElemet}"
                   th:href="@{/article/search(search-text=${searchText}, page=${pageElemet})}">
                    1
                </a>
                <a class='page-element'
                   th:unless="${isSearch}"
                   th:each="pageElemet : ${#numbers.sequence(pageMetaData.pageStart - 1 , pageMetaData.pageEnd + 1)}"
                   th:classappend="${pageElemet eq pageMetaData.targetPage ? 'current-element':''} +
                        ${pageElemet eq pageMetaData.pageStart - 1 ? 'prev':''} +
                        ${pageElemet eq pageMetaData.pageEnd + 1 ? 'next':''}"
                   th:styleappend="${pageMetaData.firstPageList and (pageElemet eq (pageMetaData.pageStart - 1)) ? 'display:none;' : ''} +
                        ${pageMetaData.endPageList and (pageElemet eq (pageMetaData.pageEnd + 1)) ? 'display:none;' : ''}"
                   th:text="${pageElemet}"
                   th:href="@{/article/{feature}/{page}(feature=${category.name()}, page=${pageElemet})}">
                    1
                </a>
            </div>
        </div>
    </div>
</div>
<script>
    let bodyHeight = $(".features-container").outerHeight();
    $(".features-intro-content").height(bodyHeight);
</script>
</body>
<footer th:replace="~{common/footerFragment :: footer}"></footer>
</html>
