<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="kr">
<head>
    <link th:href="@{/css/footer.css}" href="/static/css/footer.css" rel="stylesheet"/>
    <link th:href="@{/css/footer.css}" href="/static/css/footer.css" rel="stylesheet"/>
</head>
<footer th:fragment="footer">
    <div class="footer-container">
        <div class="about">
            <div class="title">
                About SUN QUILL
            </div>
            <div class="content">
                Who We Are<br/>
                Our Mission<br/>
                Meet the Staff<br/>
            </div>
        </div>
        <div class="contact">
            <div class="title">
                Contact Us
            </div>
            <div class="content">
                Feedback & Complaints<br/>
                Advertise with Us<br/>
                Letter to the Editor<br/>
            </div>
        </div>
        <div class="metadata">
            1 Gwanak-ro, Gwanak-gu, Seoul<br/>
            Copyright 2023 The SNU QUILL. <br/>
            All rights reserved. <br/>
            mail to snuquill@gmail.com<br/>
        </div>
    </div>
    <div class="footer-logo">
        <div class="logo-block">
            THE SUN QUILL
        </div>
    </div>
</footer>
</html>
