<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/common/common.css}" href="../static/css/common/common.css" rel="stylesheet"/>
    <link th:href="@{/css/common/header.css}" href="../static/css/common/header.css" rel="stylesheet"/>
    <link th:href="@{/css/home/home.css}" href="../static/css/home/home.css" rel="stylesheet"/>
    <link th:href="@{/css/home/slide-banner.css}" href="../static/css/home/slide-banner.css" rel="stylesheet"/>
    <link th:href="@{/css/common/footer.css}" href="../static/css/common/footer.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link rel="icon" th:href="@{/images/logo_48_48.png}" href="/images/logo_48_48.png"/>
    <link rel="apple-touch-icon" th:href="@{/images/logo_48_48.png}" href="/images/logo_48_48.png"/>
    <title> SNU QUILL </title>
    <meta charset="UTF-8">
</head>
<body>
<header th:replace="~{common/headerFragment :: header}"></header>
<div class="page">
    <div class="home-container">
        <div class="top-article-container">
            <div class='top-article hover-pointer' style="background: white"
                 th:style="'background-image: url(' + ${topArticle.pictureUrl} + '); background-size: cover;'"
                 th:onclick="'window.location.href=\'' + @{/article/{id}(id=${topArticle.articleId})} + '\''">
                <div class="top-article-title">
                    <p th:text="${topArticle.title}">
                        To Leave or Not to Leave:
                        The Dilemma of the Russian Commercial Exodus
                    </p>
                </div>
                <div class="top-article-summary">
                    <p th:text="${topArticle.summary}">
                        Short Summary of the Article: Article Preview Article Preview Article Preview
                    </p>
                </div>
            </div>
            <div class="recent-article-list">
                <div class="recent-article hover-pointer" th:each="recentArticle : ${recentArticleList}" th:object="${recentArticle}"
                     th:onclick="'window.location.href=\'' + @{/article/{id}(id=${recentArticle.id})} + '\''">
                    <h4 th:text="${recentArticle.articleTitle}">Article Title</h4>
                    <h5 th:text="${recentArticle.articleSummary}">
                        Article Preview Article Preview Article Preview
                    </h5>
                    <hr>
                </div>
            </div>
        </div>
        <div class="editors-picks-body">
            <div class="editors-picks-container">
                <div class="home-title-container">
                    <div class="home-title-text">
                        Editor's Picks
                    </div>
                    <div class="home-title-line-container">
                        <hr class="home-title-line">
                    </div>
                </div>
                <div class="editors-picks-list">
                    <div class="editors-pick">
                        <h5>FEATURES</h5>
                        <h4 th:each="featureEditorPick : ${editorPick.featuresEditorPickList}"
                            th:text="${featureEditorPick.title}"
                            th:onclick="'window.location.href=\'' + @{/article/{id}(id=${featureEditorPick.articleId})} + '\''"
                            class="hover-pointer">
                            R U Actually Woke Tho
                        </h4>
                    </div>
                    <div class="editors-pick">
                        <h5>SNU SOCIETY</h5>
                        <h4 th:each="snuSocietyEditorPick : ${editorPick.snuSocietyEditorPickList}" th:text="${snuSocietyEditorPick.title}"
                            th:onclick="'window.location.href=\'' + @{/article/{id}(id=${snuSocietyEditorPick.articleId})} + '\''"
                            class="hover-pointer">
                            SNU’s Establishment of the “Advanced Convergence Department”
                        </h4>
                    </div>
                    <div class="editors-pick">
                        <h5>ARTS & CULTURES</h5>
                        <h4 th:each="artsAndCultureEditorPick : ${editorPick.artsAndCultureEditorPickList}" th:text="${artsAndCultureEditorPick.title}"
                            th:onclick="'window.location.href=\'' + @{/article/{id}(id=${artsAndCultureEditorPick.articleId})} + '\''"
                            class="hover-pointer">
                            Crush Culture: The Downfall of Instant Love
                        </h4>
                    </div>
                    <div class="editors-pick">
                        <h5>OPINION</h5>
                        <h4 th:each="opinionEditorPick : ${editorPick.opinionEditorPickList}" th:text="${opinionEditorPick.title}"
                            th:onclick="'window.location.href=\'' + @{/article/{id}(id=${opinionEditorPick.articleId})} + '\''"
                            class="hover-pointer">
                            Title
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="magazine-archive-container">
            <div class="magazine-archive-slider">
                <!--Magazine은 3개만 받아온다.-->
                <div class="magazine-archive-slide hover-pointer"
                     th:each="recentMagazine : ${recentMagazineList}"
                     th:object="${recentMagazine}"
                     th:data-filelink="${recentMagazine.fileLink}"
                     onclick="window.open(this.getAttribute('data-filelink'))">
                    <img th:src="${recentMagazine.volumeCoverLink}">
                </div>
                <div class="more-archive-slide hover-pointer"
                     th:onclick="'window.location.href=\'' + @{/archives} + '\''">
                    <div class="more-archive-slide">
                        click for<br>previous<br>volumes...
                    </div>
                </div>
            </div>
        </div>
        <div class="quill-videos-body">
            <div class="home-title-container">
                <div class="home-title-text">
                    Quill Videos
                </div>
                <div class="home-title-line-container">
                    <hr class="home-title-line">
                </div>
            </div>
            <div class="quill-videos-list">
                <!--Video는 3개만 받아온다.-->
                <div class="quill-video" th:each="recentVideo : ${recentVideoList}" th:object="${recentVideo}">
                    <iframe th:src="${recentVideo.iframeSrc}" title="YouTube video player"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="photojournals-container">
            <div class="home-title-container">
                <div class="home-title-text">
                    Photojournals
                </div>
                <div class="home-title-line-container">
                    <hr class="home-title-line">
                </div>
            </div>
            <div class="photojournals-slider">
                <div class="photojournals-slide" th:each="photoJournal : ${photoJournalList}" th:object="${photoJournal}">
                    <img class="photo" th:src="${photoJournal.photoLink}" src="../static/images/photojournalsExample1.jpg">
                    <div class="photojournals-content" th:text="${photoJournal.description}">Test Description1</div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:replace="~{common/footerFragment :: footer}"></footer>
</body>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
<script>
    $('.photojournals-slider').slick({
        dots: true,
        infinite: true,
        speed: 500,
        fade: true,
        cssEase: 'linear',
        arrows: false,
        autoplay: true,
        autoplaySpeed: 5000,
        // variableWidth: true,
        adaptiveHeight: true
    });
</script>
</html>
