@import "../common/common.css";

.home-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    align-self: center;
}

/*main page의 각 블럭의 제목을 설정하는 css*/

.home-title-container {
    display: flex;
    flex-direction: row;
    width: 100%
}

.home-title-text {
    display: flex;
    flex-shrink: 0;

    color: var(--Main-Color);
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
}

.home-title-line-container {
    display: flex;
    flex: 1;
    align-items: flex-end;
}

.home-title-line {
    width: 100%;
    margin: 0;
    border-color: var(--Main-Color);
}


/* Top Article, Recent Article이 있는 라인*/
.top-article-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
}

.top-article-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 475px;
    height: 136px;
    flex-shrink: 0;
    margin: 200px 200px 0 30px
}

.top-article-summary {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 540px;
    height: 16px;
    flex-shrink: 0;
    margin: 15px 150px 30px 30px;
}

.top-article-summary > p {
    color: var(--Text-Color);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}


.top-article {
    display: flex;
    flex-direction: column;
    width: 738px;
    height: 421px;
    flex-shrink: 0;
}

.top-article-title > p {
    color: var(--Text-Color);
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0;
    margin: 0;
}

.recent-article-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;

    width: 340px;
    height: 421px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
}

.recent-article-list > .recent-article:last-child {
    border-bottom: none;
}

.recent-article {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;

    margin-left: 30px;
    width: 380px;
    flex-shrink: 0;
    border-bottom: solid 1px var(--Line-Color);
}

.recent-article-list h4, h5 {
    /*flex-shrink: 0;*/
    width: 340px;
    white-space: nowrap;
    overflow: hidden;
    min-width: 0;
    text-overflow: ellipsis;
}

.recent-article > h4 {
    flex-shrink: 0;
    margin: 0;
    color: var(--Text-Color);
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0;
}

.recent-article > h5 {
    width: 319px;
    flex-shrink: 0;
    margin: 0;

    color: var(--Text-Color);
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0;
}

/*Editor Pick Line*/
.editors-picks-body {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 39px 0;
}

.editors-picks-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*Editor Pick Contents*/
.editors-picks-list {
    display: flex;
    width: 100%;

    justify-content: space-between;
}

.editors-pick {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 240px;
    margin-top: 25px;

    height: 150px;
    flex-shrink: 0;
}

.editors-pick > h5 {
    width: 139px;
    margin-bottom: 5px;
    margin-top: 0;

    color: var(--Main-Color);
    font-size: 15px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0;
}

.editors-pick > h4 {
    width: 240px;
    flex: 1;
    flex-shrink: 0;
    margin-top: 10px;

    text-align: left;
    color: var(--Text-Color);
    font-size: 20px;
    font-style: normal;
    font-weight: 450;
    line-height: normal;
    letter-spacing: 0;

    min-width: 0;
    min-height: 0;
    white-space: normal;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

/*magazine archive*/
.magazine-archive-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100vw;
    transform: translateX(calc(570px - 50vw));
    flex-direction: row;

    background: var(--Sub-Color);
}

.magazine-archive-slider {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 1140px;
    height: 450px;
}

.magazine-archive-slider > div {
    display: flex;
    width: 270px;
    height: 380px;
}

.magazine-archive-slide {
    background-color: white;
}

.more-archive-slide {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;


    color: var(--Main-Color);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

/*quill videos*/
.quill-videos-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 39px;
    width: 1140px;
}

.quill-videos-list {
    margin-top: 34px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.quill-video {
    display: flex;
    margin: 0 10px;
    flex-shrink: 0;
    width: 352px;
    height: 199px;

    background: var(--Line-Color);
}

.quill-video > iframe {
    width: 100%;
    height: 100%;
}

/*photojournals

*/
.photojournals-container {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    flex-shrink: 0;
    margin-top: 39px;
}

.photojournals-slider {
    width: 1140px;
}

.photojournals-slide {
    width: 1140px;
}

.photo {
    margin: auto;
    width: 1140px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

.photojournals-content {
    height: 29px;
    color: var(--Main-Color);
    text-align: center;

    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 125%; /* 30px */
    letter-spacing: 1px;
}

.slick-dots {
    bottom: 10px;
}

.slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}
