@import "../common.css";

.magazine-archive-slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}
.magazine-archive-slide {
    float: left;
    width: 100%;
    position: relative;
}
.magazine-archive-slide > img {
    width: 1280px;
    height: 646px;
    flex-shrink: 0;
}

.photojournals-slider {
    width: 1280px;
    height: 646px;
    flex-shrink: 0;
    margin: 0 auto;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}
.photojournals-slide {
    object-fit: cover;
}

.slick-dots {
    bottom: 10px;
}
.slick-dots li button:before {
    font-size: 10px;
    line-height: 10px;
    color: #fff;
}
